process {

    withName: NANOPLOT_PRE {
        conda = '/mnt/scratch/AGO/miniconda3/envs/nanoplot_env'
    }

    withName: NANOPLOT_POST {
        conda = '/mnt/scratch/AGO/miniconda3/envs/nanoplot_env'
    }

    withName: FILTLONG {
        conda = '/mnt/scratch/AGO/miniconda3/envs/filtlong_env'
    }

    withName: KRAKEN2 {
        conda = '/mnt/scratch/AGO/miniconda3/envs/kraken2_env'
    }

    withName: BRACKEN {
        conda = '/mnt/scratch/AGO/miniconda3/envs/kraken2_env'
    }

    withName: COMMUNITY_CLUSTERING {
        conda = '/mnt/scratch/AGO/miniconda3/envs/community_env'
    }
}
